
.tablet{
    display: none;
}

/*meta section*/
.metaverse-main {
    position: relative;
}

.section-metaverse {
    padding: 30px 0;
    background-color: #000000;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    position: relative;
}

.metaverse-title {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 70px;

    letter-spacing: -0.01em;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 54px 0px;
    background: linear-gradient(94.26deg, rgba(255, 255, 255, 0.78) 46.54%, rgba(255, 255, 255, 0) 105.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-meta{
    height: 51.2031px;
    width: fit-content;
}
.metaverse-btn {
    background-color: #153300;
    border: 1px solid #53CA02;
    border-radius: 8px;
    color: #85FD33;
    font-size: 20px;
    padding: 12px 41px;
    position: relative;
    box-shadow: 0px 19px 16px 0px hsla(0, 0%, 0%, 0.09);
}

.btn-meta img {
    width: 18px;
    height: 15px;

}

.metaverse-btn:hover {
    background-color: #53CA02;
    border: 1px solid #53CA02;
    color: #ffffff;
}

.metaverse-content {
    position: relative;
}

.metaverse-description {
    width: 65%;
    position: absolute;
    right: 0;
    top: 70px;
}

.metaverse-description .desc {
    margin-left: 10px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.games{
    position: relative;
}
.games img {
    position:absolute;
    width: 80%;
    top: 30px;
    left: -10px;
}


/*meta background*/
.meta-bg {
    position: absolute;
    width: 100%;
    height: 1300px;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #000000 11.32%, rgba(0, 0, 0, 0) 30.08%, #000000 73.31%), url("../images/meta/galaxy-night-view.png");
    background-size: cover;
    overflow: hidden;
}

.meta-bg .content-bg {
    position: relative;
    width: 100%;
    height: 100%;
}


#metaverse .polygon-left {
    top: 300px;
    position: absolute;
    left: 0;
}

#metaverse .polygon-right {
    top: 300px;
    position: absolute;
    right: 0;
}

#metaverse .radial-right {
    position: absolute;
    top: -200px;
    right: -110%;
    width: 2200px;
    height: 2200px;
    overflow: hidden;

    background: radial-gradient(35.06% 35.06% at 53.12% 36.14%, rgba(0, 255, 25, 0.39) 0%, rgba(182, 226, 161, 0.5) 7%, rgba(66, 190, 46, 0.5) 17%, rgba(14, 176, 0, 0.5) 21%, rgba(42, 162, 0, 0.5) 25%, rgba(33, 104, 0, 0.5) 45%, rgba(12, 59, 0, 0.5) 62%, rgba(0, 0, 0, 0.5) 78%, rgba(0, 0, 0, 0.5) 91%, rgba(0, 0, 0, 0.5) 100%);
    background-blend-mode: screen;
    mix-blend-mode: screen;
    transform: matrix(0.71, -0.89, 0.56, 0.71, 0, 0);
}

#metaverse .radial-left {
    position: absolute;
    top: 0;
    left: -85%;
    width: 2200px;
    height: 2200px;
    overflow: hidden;

    background: radial-gradient(35.06% 35.06% at 53.12% 36.14%, rgba(0, 255, 25, 0.39) 0%, rgba(182, 226, 161, 0.5) 7%, rgba(66, 190, 46, 0.5) 17%, rgba(14, 176, 0, 0.5) 21%, rgba(42, 162, 0, 0.5) 25%, rgba(33, 104, 0, 0.5) 45%, rgba(12, 59, 0, 0.5) 62%, rgba(9, 27, 0, 0.5) 78%, rgba(1, 7, 0, 0.5) 91%, rgba(0, 0, 0, 0.5) 100%);
    background-blend-mode: screen;
    mix-blend-mode: screen;
    transform: rotate(-45deg);
}

#metaverse .meteor-left {
    position: absolute;
    top: 450px;
    left: 180px;
    z-index: 2;
}

#metaverse .logo-3d-left {
    position: absolute;
    top: 850px;
    left: 200px;
}

@media (min-width: 1920px){
    #metaverse .radial-left{
        left: -55%;
    }
    #metaverse .radial-right{
        right: -70%;
    }
}



@media (max-width: 1024px) {
    .metaverse-title {
        font-size: 48px;
        line-height: 45px;
    }

    .metaverse-description {
        width: 80%;
    }

    .games {
        position: relative;
    }

    .games img {
        position: absolute;
        left: -60px;
        top: 80px;
    }

    #metaverse .polygon-left {
        left: -110px;
    }

    #metaverse .meteor-left {
        left: 110px;
    }

    #metaverse .radial-left {
        width: 1300px;
        height: 1300px;
        left: -60%;
        top: 220px;
    }

    #metaverse .radial-right {
        width: 1300px;
        height: 1300px;
        right: -81%;
        top: 100px;
    }

    #metaverse .logo-3d-left {
        left: 150px;
    }

    #metaverse .logo-3d-left img {
        width: 250px;
    }
}

@media (max-width: 820px) {
    .pc{
        display: none;
    }
    .tablet{
        display: block;
    }
    .metaverse-description {
        width: 100%;
        position: relative;
    }

    .metaverse-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .games{
        width: 100%;
        position: relative;
        top: unset;
        left: unset;
    }

    .games img {
        position: absolute;
        z-index: 10;
        top: -15px;
        left: unset;
        right: 20px;
    }

    #metaverse .polygon-left {
        left: -110px;
    }

    #metaverse .polygon-right{
        right: -150px;
    }

    #metaverse .meteor-left {
        left: 110px;
    }

    #metaverse .radial-left {
        width: 1300px;
        height: 1300px;
        left: -80%;
        top: 220px;
    }

    #metaverse .radial-right {
        width: 1300px;
        height: 1300px;
        right: -110%;
        top: 100px;
    }

    #metaverse .logo-3d-left {
        left: 150px;
    }

    #metaverse .logo-3d-left img {
        width: 250px;
    }
}

@media (max-width: 428px){
    #metaverse .polygon-left{
        top: 620px;
    }
    #metaverse .polygon-left img{
        width: 250px;
        height: 250px;
    }
    #metaverse .radial-left {
        width: 450px;
        height: 450px;
        left: -50%;
        top: 580px;
    }
    #metaverse .radial-right{
        width: 450px;
        height: 350px;
        right: -65%;
        top: 620px;
    }
    #metaverse .polygon-right{
        top: 620px;
        right: -80px;
    }
    #metaverse .polygon-right img{
        width: 250px;
        height: 250px;
    }
    #metaverse .meteor-left img{
        width: 250px;
        height: 250px;
    }
    #metaverse .meteor-left {
        left: -75px;
        top: 609px;
        z-index: 1;
    }
    #metaverse .logo-3d-left img{
        width: 110px;
    }
    #metaverse .logo-3d-left{
        left: 30px;
        top: 780px;
    }
}