.cst-tooltip {
    width: 300px;
    color: #fff;
    background-color: rgb(0,0,0);
    text-align: left;
}

/* hiding first and last lines in cartesian grid */
.recharts-wrapper .recharts-cartesian-grid-horizontal line:first-child,
.recharts-wrapper .recharts-cartesian-grid-horizontal line:last-child {
    stroke-opacity: 0;
}

.card-dark{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    min-height: 332px;
    border-radius: 16px;
    width: 100%;
    height: 380px;
    padding: 1rem 2rem 1rem 1rem;
    display: flex;
    background-color: rgb(0,0,0);
    flex-direction: column;
    border: 1px solid #717171;
}

.price-group{
    color: white;
}

.price-card-title{
    font-family: 'technology', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 600;
    font-size: 28px;
    color: #eeecec;
    letter-spacing: 1px;
}
.price-card-sub-title{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    font-size: 21px;
    color: rgb(108, 114, 132);
}
.radiant {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    pointer-events: none;
    height: 200vh;
    mix-blend-mode: color;
    background: radial-gradient(50% 50% at 50% 50%, rgb(41, 185, 147) 0%, rgba(255, 255, 255, 0) 100%);
    transform: translateY(-150vh);
    max-width: 100vw !important;
    z-index:2;
}

/*background-color: #082236;
        background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(188, 255, 255, 0.2), #111);
        opacity: 0;
        position: fixed;
        z-index: 991;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: opacity 0.35s ease;
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center !important;
        overflow-y: scroll;
        overflow-x: hidden*/